<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="logs" />
    <variable name="logLayout" value="${longdate} ${level} ${event-context:item=callerpath}::${event-context:item=callermember} (${event-context:item=callerline}): ${message}" />
    <variable name="logFileName" value="${logDirectory}/log_${date:format=yyyy-MM-dd}.txt" />
    
    <targets>
        <target name="logfile" xsi:type="File" fileName="${logFileName}" layout="${logLayout}"/>
        <target name="logconsole" xsi:type="ColoredConsole" layout="${logLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>