<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="minLogLevel" value="Debug" />
    <variable name="logDirectory" value="logs" />
    <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${event-context:item=caller_path}::${event-context:item=caller_member} (${event-context:item=caller_line}) | ${message:withException=true}" />
    <variable name="logFileName" value="${logDirectory}/log_${date:format=yyyy-MM-dd}.txt" />
    
    <targets>
        <target name="logfile" xsi:type="File" fileName="${logFileName}" layout="${logLayout}"/>
        <target name="logconsole" xsi:type="ColoredConsole" layout="${logLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="${var:minLogLevel}" writeTo="logconsole" />
        <logger name="*" minlevel="${var:minLogLevel}" writeTo="logfile" />
    </rules>
</nlog>